{% extends "layout.html" %}
{% block page_title %}
{% endblock %}
{% block body %}
    {{ super() }}
<br><br><br>
<!-- .demo-card-wide > .mdl-card__title -->
<div style="text-align: center;">
<div class="container center" style="display: inline-block; vertical-align: middle; ">
<div class="mdl-cell mdl-cell--8-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="height:80px">
        <h2 class="mdl-card__title-text">Welcome</h2>
      </div>
      <div class="mdl-card__supporting-text">
        This is the platform where you, the public, control whether the news spreading around is actually genuine or not. This decision is in turn used for making the machine learning model behind the curtains, even better.
        <p>What <strong>FLAG NEWS</strong> really is:</p>
        <ul>
            <li>Users can place bets for/against the genuineness of any particular news article.</li>
            <li>The publisher will gain valuable reputation points if his/her article is genuine, otherwise he loses his reputation.</li>
            <li>The people betting on the news will receive monetory rewards if they place the correct bet.</li>
            <li>This way the community helps each other in being safe from fake news whilst also earning rewards.</li>
            <li>The platform also entertains a leaderboard where publishers are ranked according to their reputation points.</li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {% if session.get("current_user", None) == None %}
        <form action="/login" method="post" class="navbar-form navbar-right">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" name = "id">
            <label class="mdl-textfield__label" for="sample1">Login ID</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="sample2" name="pw">
            <label class="mdl-textfield__label" for="sample2">Password</label>
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Log In</button>
        </form>
        {% endif %}
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
 </div>
</div>



{% endblock %}
