{% extends "layout.html" %}
{% block page_title %}{% endblock %}
{% block body %}
    {{ super() }}
    <div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome!</h1>
            <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
        <div class="card">
          <!-- <div class="card-header">

          </div> -->
        <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">
      <p>This is the platform where you, the public, control whether the news spreading around is actually genuine or not. This decision is in turn used for making the machine learning model behind the curtains, even better. </p>
      <p>What <strong>FLAG NEWS</strong> really is:</p>
      <ul>
          <li>Users can place bets for/against the genuineness of any particular news article.</li>
          <li>The publisher will gain valuable reputation points if his/her article is genuine, otherwise he loses his reputation.</li>
          <li>The people betting on the news will receive monetory rewards if they place the correct bet.</li>
          <li>This way the community helps each other in being safe from fake news whilst also earning rewards.</li>
          <li>The platform also entertains a leaderboard where publishers are ranked according to their reputation points.</li>
      </ul>
    </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
      </div>
        <h1 style="text-align: center;"></h1>
        <br/>
        <div style="font-size: 20px; padding: 20px;">

        </div>
    </div> -->

{% endblock %}
