{% extends "layout.html" %}
{% block page_title %}PUBLISHING{% endblock %}
{% block body %}
    {{ super() }}

    <h4>Upload an article</h4>

    <hr>

    <h3>Add an article and get it reviewed</h3>
    <div class="form-group">
      <label for="textArea" class="col-lg-3 control-label">Publish an article</label>
      <div class="col-lg-9">
      <form action="/publish" method="post">
        <input class="form-control" name="heading" placeholder="Heading"></input>
        <input class="form-control" name="author" placeholder="Author"></input>
        <input class="form-control" name="body" placeholder="Article" style="height: 50%;"></input>
        <button type="submit" class="btn btn-success">Publish</button>
      </form>
     </div>
    </div>

    <hr>

{% endblock %}
