{% extends "layout.html" %}
{% block page_title %}News Feed{% endblock %}
{% block body %}
    {{ super() }}

    <div>
        <div style="float:left; width: 65%;">
            {% for i in data %}
                <div style="border: 1px solid black; border-radius:15px; padding: 20px; ">
                    <p style="font-size: 30px;"> {{ i['headline'] }} </p>
                    {% for keys, items in i.items() %}
                    {% if keys=="idno" %}
                    <p></p>
                    {% elif keys=="ml_score" %}
                    <p></p>
                    {% elif keys=="body" %}
                    <p> {{ items}}</p>
                    {% elif keys!="headline" %}
                    <p>{{ keys.upper() }} : {{ items }}</p>
                    {% endif %}
                    {% endfor %}

                {% set ml_score = i["ml_score"] | float %}
                {% if ml_score >0.50 %}
                    <p style="color: red;">Percentage of fakeness:(ml_model) {{ ml_score }}</p>
                {% else %}
                <p style="color: green;">Percentage of fakeness:(ml_model) {{ ml_score }}</p>
                {% endif %}

                {% if i['downvote'] ==0 and i['upvote']==0 %}
                <p style="color: blue;">Percentage of fakeness:(votes) 0</p>

                {% else %}
                {% if i["downvote"]/(i["upvote"] + i["downvote"]) >0.50 %}
                    <p style="color: green;">Percentage of fakeness:(votes) {{ i["downvote"]/(i["upvote"] + i["downvote"]) }}</p>
                {% else %}
                <p style="color: red;">Percentage of fakeness:(votes) {{ i["downvote"]/(i["upvote"] + i["downvote"]) }}</p>
                {% endif %}
                {% endif %}
                <a style="padding:10px; background-color:rgb(47, 114, 92); color: white" href="{{ url_for('FUN_public', args=[i['idno']], vote=['1'] ) }}">Upvote</a>
                <a href="{{ url_for('FUN_public', args=[i['idno']], vote=['2'] ) }}" style="padding:10px; background-color:red; color: white">Downvote</a>
                </div>
                <br/>
                <br/>
                {% endfor %}
        </div>
        <div style="float: right; width: 35%;">
            <div style="border: 1px solid black; border-radius: 15px; width: 80%; float: right;">
                <div style="border-bottom: 1px solid black;">
                    <p style="font-size: 30px; text-align: center;">LeaderBoard</p>
                </div>
                <div style="padding: 10px ;">
                    <p style="border-bottom: 1px solid black">Ratna</p>
                    <p style="border-bottom: 1px solid black">Abhishek</p>
                    <p style="border-bottom: 1px solid black">Satyam</p>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
